### gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.settings/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
bin/

### IntelliJ IDEA ###
/.idea/
/private/
/storage/
/htsing.iml
.checkstyle
.idea
*.iws
*.iml
*.ipr
rebel.xml
### main ###
thirdparty/
rest9/
rest12/
server/
pic/
ico/
bitmap/
workrec/
bak/
report/
lgsza/
nginx/
pfc/
ps/
第三方软件/
*.chm
*.conf
*.xml
*.ppt
*.pbw
*.pbx
*.pbt
*.pbr
*.dll
*.DLL
*.lib
*.pbd
*.zip
*.rar
*.ini
*.tar
*.tar.gz
*.exe
*.jar
*.bmp
*.jpg
*.jpeg
*.doc
*.xsls
*.xlsx
*.xls
*.txt
*.dat
*.db
*.pem
*.p12
*.opt
*.wav
*.bat
*.c
*.ico
*.cfg
*.bin
*.ocx
*.reg
*.config
*.png
*.docx
*.mp3
*.cnf
*.html
*.pdf
*.sql
*.pdm
*.txp
*.24

### logs ####
/logs/
*.log

### temp ignore ###
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

### system ignore ###
.DS_Store
Thumbs.db
Servers
.metadata
upload
gen_code
!/logs/
